@use 'base/variables' as v;
@use 'base/mixins' as m;

.menu {
    margin: -5rem auto 10rem auto;

    &__heading {
        background-color: v.$bg-blanco;
        color: v.$bg-verde;
        border-radius: 2rem;
        padding: 2rem;
    }

    &__grid {
        @include m.tablet {
            @include m.grid(2, v.$separacion);
        }

        @include m.desktop {
            @include m.grid(3, v.$separacion);
        }
    }

    &__producto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__descripcion {

        p {
            line-height: 1.2;
            padding: 0 4rem;
            font-size: 1.7rem;
            text-align: center;
        }
    }

    &__precio {
        color: v.$bg-primario;
        font-size: 2rem;
        font-weight: 900;
    }
}