// Fuentes
$font-titulo: 'Playfair Display', serif;
$font-texto: 'Poppins', sans-serif;

// Tamanos de Query
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$bg-primario: #064a53;
$bg-secundario: #d8b98b;
$bg-blanco: #ffffff;
$bg-negro: #242121;
$bg-verde: #509c72;
$bg-verde-opacity: rgb( 57 70 89 / .6 );
$bg-cafe: #231916;
$separacion: 5rem;
